.jumbotron {
    background: white;
    margin: 5% 10%;
    position: relative;
}

#h2 {
    font-family: 'Chivo';
}

.button {
    font-family: 'Chivo';
    margin-bottom: 10px;
}
#background {
    background: #99ccff;
}

#restartButtonParent {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 10px;
} 

.show {
    height: 300px;
} 

img {
    height: 100%;
    max-height: 100%;
    max-width: 100%; 
}

#hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#result {
    display: none;
}

#quote {
    font-style: italic;
    font-weight: 700;
    font-size: large;
}